In [6]:
import requests
import csv
import datetime
import numpy as np
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.preprocessing import MinMaxScaler

In [16]:
url = "https://api.binance.com/api/v3/klines"

symbol = "BTCUSDT"
interval = "1m"
limit = 1000

payload = {
    "symbol": symbol,
    "interval": interval,
    "limit": limit
}


response = requests.get(url, params=payload)

data = response.json()

with open('data.csv', mode='w') as file:
    writer = csv.writer(file)
    writer.writerow(['Year', 'Month', 'Day', 'Hour', 'Minute', 'Second', 'Low_price',])

    for item in data:
        timestamp = item[0]
        date = datetime.datetime.fromtimestamp(timestamp)
        year = date.year
        month = date.month
        day = date.day
        hour = date.hour
        minute = date.minute
        second = date.second
        low_price = item[3]
        
        writer.writerow([year, month, day, hour, minute, second, low_price])

AttributeError: type object 'datetime.datetime' has no attribute 'datetime'

In [12]:
df = pd.read_csv('data.csv')
df = df.replace('\s+', '', regex=True)
df

              Time  Low_price
0    1680974700000   27999.58
1    1680974760000   27999.58
2    1680974820000   27999.58
3    1680974880000   27999.58
4    1680974940000   27999.58
..             ...        ...
995  1681034400000   27898.58
996  1681034460000   27901.31
997  1681034520000   27901.42
998  1681034580000   27901.74
999  1681034640000   27900.83

[1000 rows x 2 columns]